

body {
font-family: sans-serif;
margin: 40px auto;
max-width: 650px;
font-size: 18px;
padding: 0 10px;
}
h1,
h2,
h3,
h4,
h5 {
line-height: 1.2;
}

ol li{
 list-style-type:disc;
}
img{
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}
