

body {
font-family: sans-serif;
margin:2.5em auto;
max-width:40.635em;
font-size: 1.125em;
padding: 0 0.625em;
}
h1,
h2,
h3,
h4,
h5 {
line-height: 1.2;
}

ol li{
 list-style-type:disc;
}
img{
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 43.75;
}
